.viewspec {
  display: flex;
  align-items: center;
  padding-top: 12px;
  img {
    width: 16px;
  }
  p {
    font-family: "Roboto";
    padding-left: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    color: #828282;
  }
}
