.mobile-slider {
  width: 1440px;
  margin: 0 auto;
  .slick-slider {
    div {
      display: flex;
      justify-content: center;
      &:focus {
        outline: none;
      }
    }
    .slick-next:before {
      display: none;
    }
    .slick-prev:before {
      display: none;
    }
    // .slick-list {
    //   .slick-track {
    //     .slick-slide {
    //       // display: none;
    //       margin: 0 1.3rem !important;
    //     }
    //   }
    // }
  }
  .slick-dots {
    bottom: -40px;
    li {
      button:before {
        font-size: 11px;
      }
    }
    .slick-active {
      button:before {
        font-size: 11px;
        color: #00d8a4;
      }
    }
  }
}
