@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  body {
    width: 100%;
    font-family: "Roboto";
  }
}

// variables

$color-primary: #0544e0;

// Mixins scss
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-x-center {
  display: flex;
  justify-content: center;
}
@mixin flex-y-center {
  display: flex;
  align-items: center;
}

// fonts

// @font-face {
//   font-family: "Roboto-Light";
//   src: url("../components/Roboto-Light.ttf");
// }
// @font-face {
//   font-family: "Roboto-Bold";
//   src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
// }
// @font-face {
//   font-family: "Roboto-Medium";
//   src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
// }
