.container-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  width: 91%;
  margin: 0 auto;
  margin-top: 4rem;
  .label {
    font-family: "Roboto";
    background: #2f80ed70;
    border-radius: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #f2f2f2;
    margin: 8px 11px;
    padding: 5px 10px;
    cursor: pointer;
  }
}
